.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
}
